body{
	background: url(../imgs/oscu2.jpg);
}
section#detalle{
	width: 860px;
	height: 600px;
	padding: 20px;
	margin: 0px auto;

}
div.intro{
	width: 400px;
	height: 400px;

	margin-right: 6px;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}
h1{
	font-size: 40px;
	color: white;
	text-align: center;
}
h2{
	font-size: 30px;
	color: white;
	font-family: Arial;
}
p.p1{
	color: white;
	font-size: 20px;
}
p.p2{
	color: #7E7979;
	font-size: 18px;
}
p strong{
	font-size: 25px;
	font-family: Arial;
	color: white;
}